<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id} (id=${person.getPersonId()})}" th:object="${person}">
    <label for="fullName">Введите имя: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="yearOfBirth">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Age error</div>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>
</body>
</html>