<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublishing()}">VALUE</p>

<form th:method="PATCH" th:action="@{/books/{id}/freeing (id=${book.getBookId()})}" th:if="${book.getPerson()}">
    <p th:text="${'Эта книга сейчас у: ' + book.getPerson().getFullName()}"></p>

    <input type="submit" value="Освободить книгу" />
</form>
<form th:method="PATCH" th:action="@{/books/{id}/appoint (id=${book.getBookId()})}" th:unless="${book.getPerson}">
    <p th:text="'Эта книга свободна. Кому назначить ее ?'"></p>
    <label for="person_id">Выберите человека:</label>
    <select th:object="${person}" th:field="*{personId}" id="person_id">
        <option th:each="person : ${people}" th:value="${person.getPersonId()}"
                th:text="${person.getFullName()}"></option>
    </select>
    <input type="submit" value="Назначить книгу" />
</form>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit (id=${book.getBookId()})}">
    <input type="submit" value="Редактировать!"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id} (id=${book.getBookId()})}">
    <input type="submit" value="Удалить!"/>
</form>
</body>
</html>